:root{
  font-family: 'Montserrat', cursive;
  --font-color: white;
  --header-background: rgba(0, 0, 0, 75%);
  --footer-background: rgba(0, 0, 0, 75%);
}

body{
  background-image: url(./images/background.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-attachment: fixed;

  margin: 0px;
  padding: 0px;
}

.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Removes link color and underline*/
a{
  text-decoration: none;
  color: inherit;
}

/*Header Section*/
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--header-background);
}

.header>h1{
  font-family: 'Great Vibes';
  font-size: 4rem;
  color: var(--font-color);
}

.header>nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Nav Buttons*/
.button-nav{
  background-color: transparent;
  color: white;
  font-family: inherit;
  cursor: pointer;

  width: 70px;
  height: 50px;
  border-color: transparent;
}

nav>.active{
  border-bottom: 2px solid white;
}

/*MAIN SECTION*/
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}
/*FOOTER SECTION*/
/*Footer layout*/
.footer{
  margin-top: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;

  color: var(--font-color);
  background-color: var(--footer-background);
}
#github_link{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Github icon*/
#github-icon{
  width: 25px;
}


