:root{
  font-family: 'Montserrat', cursive;
}

/*Removes link color and underline*/
a{
  text-decoration: none;
  color: inherit;
}

/*FOOTER SECTION*/
  /*Footer layout*/
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #github_link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Github icon*/
  #github-icon{
    width: 25px;
  }


